<div class="card mb-3">
    <img class="card-img-top img-fluid" src="{{ image }}" alt="Card image cap">
    <div class="card-header">
        <h5 class="card-title">{{ title }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{ body }}</p>
        <p class="card-text text-dark">{{ footer }}</p>
    </div>
</div>