<div class="card">
    <div class="card-title">
        <h4>Circle</h4>
    </div>
    <div class="card-body">
        <p class="text-muted m-b-15">The <code>.img-circle</code> class shapes the image to a circle (IE8 does not support rounded corners):</p>
        <img src="{{ imageSrc }}" class="img-circle img-fluid" alt="{{ altText }}">
    </div>
</div>