<div class="card">
    <div class="card-title">
        <h4>Responsive Images</h4>
    </div>
    <div class="card-body">
        <p class="text-muted m-b-15">Create responsive images by adding an <code>.img-fluid</code> class to the <code>&lt;img&gt;</code> tag. The image will then scale nicely to the parent element.</p>
        <img src="{{ imageSrc }}" class="img-fluid" alt="{{ altText }}">
    </div>
</div>