<div class="card">
    <div class="card-title">
        <h4>Rounded Corners</h4>
    </div>
    <div class="card-body">
        <p class="text-muted m-b-15">The <code>.img-rounded</code> class adds rounded corners to an image (IE8 does not support rounded corners):</p>
        <img src="{{ imageSrc }}" class="img-rounded img-fluid" alt="{{ altText }}">
    </div>
</div>