<div class="card">
    <div class="card-title">
        <h4>Thumbnail</h4>
    </div>
    <div class="card-body">
        <p class="text-muted m-b-15">The <code>.img-thumbnail</code> class shapes the image to a thumbnail:</p>
        <img src="{{ imageSrc }}" class="img-thumbnail img-fluid" alt="{{ altText }}">
    </div>
</div>