<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-rounded</code> for rounded input.</p>
    <input type="text" class="form-control input-rounded" placeholder="Input Rounded">
</div>