<div class="form-group has-success">
    <div class="row">
        <label class="col-sm-3 control-label">Input with success</label>
        <div class="col-sm-9">
            <input type="text" class="form-control">
        </div>
    </div>
</div>