<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use this class are <code>input-group-rounded</code> and <code>btn-group-right</code> for input group rounded with search icon.</p>
    <div class="input-group input-group-rounded">
        <input type="text" placeholder="Search Round" name="Search" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-group-right" type="submit"><i class="ti-search"></i></button>
        </span>
    </div>
</div>