<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the classes on an <code>input-group</code>, <code>input-group-btn</code> for Default input group.</p>
    <div class="input-group input-group-default">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
        </span>
        <input type="text" placeholder="Search Default" name="Search" class="form-control">
    </div>
</div>