input-default.twig
<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-default</code> for Default input.</p>
    <input type="text" class="form-control input-default" placeholder="Input Default">
</div>

input-flat.twig
<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-flat</code> for flat input.</p>
    <input type="text" class="form-control input-flat" placeholder="Input Flat">
</div>

input-rounded.twig
<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-rounded</code> for rounded input.</p>
    <input type="text" class="form-control input-rounded" placeholder="Input Rounded">
</div>

input-focus.twig
<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the input classes on an <code>input-focus</code> for focus input.</p>
    <input type="text" class="form-control input-focus" placeholder="Input Focus">
</div>

search-default.twig
<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use the classes on an <code>input-group</code>, <code>input-group-btn</code> for Default input group.</p>
    <div class="input-group input-group-default">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
        </span>
        <input type="text" placeholder="Search Default" name="Search" class="form-control">
    </div>
</div>

search-rounded.twig
<div class="form-group">
    <p class="text-muted m-b-15 f-s-12">Use this class are <code>input-group-rounded</code> and <code>btn-group-right</code> for input group rounded with search icon.</p>
    <div class="input-group input-group-rounded">
        <input type="text" placeholder="Search Round" name="Search" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-group-right" type="submit"><i class="ti-search"></i></button>
        </span>
    </div>
</div>

input-with-success.twig

<div class="form-group has-success">
    <div class="row">
        <label class="col-sm-3 control-label">Input with success</label>
        <div class="col-sm-9">
            <input type="text" class="form-control">
        </div>

    </div>
</div>

input-with-error.twig

<div class="form-group has-error">
    <div class="row">
        <label class="col-sm-3 control-label">Input with error</label>
        <div class="col-sm-9">
            <input type="text" class="form-control">
        </div>

    </div>
</div>

basic-form-email.twig
<div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="Email">
</div>

basic-form-password.twig
<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password">
</div>

basic-form-checkbox.twig

<div class="checkbox">
    <label>
        <input type="checkbox"> Check me out
    </label>
</div>

horizontal-form-email.twig
<div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="Email">
    </div>
</div>

horizontal-form-password.twig
<div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" placeholder="Password">
    </div>
</div>

basic-elements-text.twig
<div class="form-group">
    <label>Text</label>
    <input type="text" class="form-control" value="Some text value...">
</div>

basic-elements-textarea.twig
<div class="form-group">
    <label>Text area</label>
    <textarea class="form-control" rows="3" placeholder="Text input"></textarea>
</div>

