<div class="card nestable-cart">
    <div class="card-title">
        <h4>{{ knob.title }}</h4>
    </div>
    <div class="card-body text-center">
        <input class="knob" data-width="{{ knob.width }}" value="{{ knob.value }}">
    </div>
</div>