<div class="progress">
    <div class="progress-bar active progress-bar-striped {{ color }}" style="width: {{ width }}%; height: {{ height }};" role="progressbar">
        <span class="sr-only">{{ srText }}</span>
    </div>
</div>