<div class="progress progress-vertical">
    <div class="progress-bar {{ color }}" style="width: {{ width }}px; height: {{ height }}%;" role="progressbar">
        <span class="sr-only">{{ srText }}</span>
    </div>
</div>