<div class="progress">
    <div class="progress-bar bg-danger" style="width: {{ width }}%; height: {{ height }};" role="progressbar">
        <span class="sr-only">{{ srText }}</span>
    </div>
</div>