<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                {% include 'layouts/header/search.twig' %}
                {% include 'layouts/header/notifications.twig' %}
                {% include 'layouts/header/profile.twig' %}
            </div>
        </nav>
    </div>
</div>