<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{ chart.title }}</h4>
    </div>
    <div class="card-body">
        <div id="{{ chart.id }}" class="flot-chart"></div>
    </div>
</div>