<ul class="list-unstyled">
    {% for item in items %}
    <li class="media my-4">
        <img class="mr-3" src="{{ item.imageSrc }}" alt="{{ item.altText }}">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{ item.heading }}</h5>
            <p>{{ item.description }}</p>
        </div>
    </li>
    {% endfor %}
</ul>