<div class="media">
    <img class="mr-3 img-fluid" src="{{ imageSrc }}" alt="{{ altText }}">
    <div class="media-body">
        <h5 class="mt-0">{{ heading }}</h5>
        <p>{{ description }}</p>
    </div>
</div>