<div class="alert alert-{{ type }} notification">
    <p class="notificaiton-title"><strong>{{ title }}</strong></p>
    <p>{{ message }}</p>
    <button class="btn btn-{{ type }} btn-sm rounded-0">Confirm</button>
    <button class="btn btn-link btn-sm">Cancel</button>
</div>