<div class="alert alert-{{ type }} solid alert-right-icon alert-dismissible fade show">
    <span><i class="mdi {{ icon }}"></i></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span><i class="mdi mdi-close"></i></span>
    </button>
    <strong>{{ title }}</strong> {{ message }}
</div>