<div class="stat-widget-three">
    <div class="stat-icon {{ widget.backgroundColor }}">
        <i class="{{ widget.icon }}"></i>
    </div>
    <div class="stat-content">
        <div class="stat-digit">{{ widget.value }}</div>
        <div class="stat-text">{{ widget.text }}</div>
    </div>
</div>