<div class="stat-widget-six">
    <div class="stat-icon">
        <i class="{{ widget.icon }}"></i>
    </div>
    <div class="stat-content">
        <div class="text-left dib">
            <div class="stat-heading">{{ widget.heading }}</div>
            <div class="stat-text">{{ widget.text }}</div>
        </div>
    </div>
</div>