<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">{{ chart.title }}</h4>
        <div><span class="pie" data-peity='{{ chart.data }}'>{{ chart.values }}</span></div>
    </div>
</div>