<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">{{ chart.title }}</h4>
        <div><span class="peity-line" data-width="100%">{{ chart.values }}</span></div>
    </div>
</div>